/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN "normalize.css")
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
	# Layouts
	# Components (CALLED IN component-specific files) 
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Font - Syne */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Syne:wght@400..800&display=swap');

	/* Colours */
	
	:root {
	--main-bg-color: #E5ECEA;
    --main-font-black: #292726;
    --main-font-white: #FFFFFF;
    --hover-blue: #9BE3EF;
	--hover-brown: #B5936E;
    --heading-font: "Syne", serif;
	--button-font: "Source Code Pro", serif;
    --body-font: "Source Code Pro", serif;
  }

/* Colours */

:root {
  --main-bg-color: #e5ecea;
  --main-font-black: #292726;
  --main-font-white: #ffffff;
  --hover-blue: #9be3ef;
  --hover-brown: rgba(181, 147, 110, 0.8);
  --heading-font: "Syne", serif;
  --body-font: "Source Code Pro", serif;
}

/* Typography
--------------------------------------------- */

/* Elements
--------------------------------------------- */

/* Links, Inputs, Textareas
--------------------------------------------- */

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */

body {
  background-color: var(--main-bg-color);
}

/* Footer
--------------------------------------------- */
