@import url('../styles/base.css');

.border{
    border: solid 0.3125rem var(--main-font-black);
    margin: 0.25rem;
    background-color: var(--main-bg-color);
    max-width: 120rem;
}

header{
    color: var(--main-font-black);
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 48em){
    header{
        flex-direction: row;
    }
}

.mobile-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 0.5rem;
}

.logo a, 
.logo a:visited, 
.logo a:active,
.logo a:focus{
    width: fit-content;
    height: auto;
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 800;   
    letter-spacing: 0.1313rem;
    text-decoration: none;
    color: var(--main-font-black);
    padding: 0;
    margin: 0;
}

.logo a:hover{
    color: var(--hover-brown);
}

p{
    margin: 0;
    padding: 0;
}

.desktop-logo {
    display: none;
  }
  
@media (min-width: 1200px) {
    .mobile-logo {
        display: none;
        padding: 0;
        margin: 0;
    }
  
    .desktop-logo {
      display: flex;
    }

    .border {
        margin: .25rem auto;
    }

}

.btn-main-nav{
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-font-black);
    cursor: pointer;
    padding: 0;
}

/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
} */


