.about-page {
    background-color: var(--main-bg-color);
    background-image: url(../media/about-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 530px;
    padding-left: 1rem;
}

.about-header h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
    margin: 0;

}

.about-header h2 {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.about-text {
    font-size: 0.65rem;
    font-family: var(--body-font);
    margin-top: 0.5rem;
    width: 80%;
}

.tmdb-text img {
    width: 7rem;
    height: auto;
    padding: 0;
    margin-top: 2rem;
}

.tmdb-text p {
    width: 100%;
    font-size: 0.8rem;
    font-family: var(--body-font);
    margin: 0;
}

@media screen and (min-width: 768px) {
    .about-page {
        background-size: 60rem auto; 
        height: 600px;
        padding-top: 4rem;
    }

    .about-header h1 {
        font-size: 3rem;
    }

    .about-header h2 {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .tmdb-text p {
        font-size: 1rem;
    }
}


@media screen and (min-width: 1024px) {
    .about-page {
        background-size: 1280px auto;
        height: 840px;
        padding-left: 4rem;
    }

    .about-header h1 {
        font-size: 4rem;
    }

    .about-header h2 {
        font-size: 2.5rem;
    }

    .about-text {
        font-size: 1.2rem;
        width: 60%;
    }

    .tmdb-text p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .about-page {
        padding-left: 18rem;
    }

    .about-text {
        font-size: 1.2rem;
        width: 50%;
    }
}