# Use this code if your React App will be in a subdirectory/folder on the server
# Create a .htaccess file in that subdirectory/folder and copy this code
# Replace the word SUBDIRECTORY on lines 6 and 11 with the subdirectory/folder name
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /danielle-leibrandt-ian-movie-app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /danielle-leibrandt-ian-movie-app/index.html [L]
</IfModule>